# Server Configuration
PORT=5000

# Database
MONGO_URI=mongodb+srv://MrPiyush67:%40Piyush9152@cerdverify.hpe0pt6.mongodb.net/?appName=CerdVerify
# MONGO_URI=mongodb://localhost:27017/microcredentials

# JWT
JWT_SECRET=microcredentials-super-secret-jwt-key-2024-change-in-production
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173
# CLIENT_URL=https://credverify.vercel.app

# Gemini API for Certificate Verification
GEMINI_API_KEY=AIzaSyDwhUbis7s49JW5mel9qf9LJcdfxqGZvMk

# Email
EMAIL_USER=piyushtest10067@gmail.com
EMAIL_PASSWORD=okudzkhhgcssafwl

# Frontend URL (for OAuth redirects)
FRONTEND_URL=http://localhost:5173


# Mock DigiLocker (default - for local testing)
DIGILOCKER_CLIENT_ID=mock-client-id
DIGILOCKER_CLIENT_SECRET=mock-client-secret
DIGILOCKER_REDIRECT_URI=http://localhost:5000/api/digilocker/callback
DIGILOCKER_SCOPE=profile documents

# Mock server URLs (running on port 3002)
DIGILOCKER_AUTH_URL=http://localhost:3002/public/oauth2/1/authorize
DIGILOCKER_TOKEN_URL=http://localhost:3002/public/oauth2/1/token
DIGILOCKER_USER_INFO_URL=http://localhost:3002/public/oauth2/1/user_info
DIGILOCKER_FILES_URL=http://localhost:3002/public/oauth2/1/files
DIGILOCKER_DOWNLOAD_URL=http://localhost:3002/public/oauth2/1/files/download

# ImageKit
IMAGEKIT_PUBLIC_KEY=public_nSy15Pdsg7qLe8IR8g4KBWiYNl8=
IMAGEKIT_PRIVATE_KEY=private_Ele+RFtGscjAnIohMQjZXi8/uRY=
IMAGEKIT_URL_ENDPOINT=/Credentials

# IPFS Pinning (pinata)
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIzYjBiNGE4NS1hN2Q5LTRhYjctOTFiNi01NDJhNjNmZDEyZjEiLCJlbWFpbCI6InByb3BpeXVzaHl0MjAwNUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiZDJiNmUzNzY4OGVhNzE1NDU3MGEiLCJzY29wZWRLZXlTZWNyZXQiOiI4Nzc2NjY3NmUwZDhhNjVjMzVhMTU2NjQ0NzhlNTJjZmUyZmJlMGQ5MTE5MTM1ZWM3MDk1NzczMTRjZDAxODVmIiwiZXhwIjoxNzk2MzUyMDkyfQ.9WnFq4ZIk-N1StvzpCYtMPxPZklUK4gf6EgmLCpU45g
PINATA_API_KEY=d2b6e37688ea7154570a
PINATA_API_SECRET=87766676e0d8a65c35a15664478e52cfe2fbe0d9119135ec709577314cd0185f

# Blockchain (Ethereum Sepolia Testnet)
# Network: Ethereum Sepolia Testnet
# Chain ID: 11155111
# Currency: SepoliaETH (test ETH)
# Block Explorer: https://sepolia.etherscan.io/
# RPC Provider: Alchemy or Infura
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_API_KEY
# Your wallet private key (NEVER commit to Git!)
PRIVATE_KEY=your-wallet-private-key-here
# Deployed smart contract address on Sepolia
CONTRACT_ADDRESS=0x71E8D0B04fF82fdE7Fe12DcF5aFd63501a6E8B35

# CONTRACT_ADDRESS=0x71E8D0B04fF82fdE7Fe12DcF5aFd63501a6E8B35

# myaddress=0x829A7F7AaB66571015Ba29F46E7f8ad092A535EB